@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Index1"/>







<!-- Latest News-->

<footer class="section footer-classic footer-classic-dark context-dark">
    <div class="footer-classic-aside footer-classic-darken">
        <div class="container">
            <div class="layout-justify">
                <!-- Rights-->
                <p class="rights"><span>Sportland</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span><span>.&nbsp;</span><span>Designed by <a href="https://www.templatemonster.com/products/author/zemez/">Zemez.</a></span></p>

            </div>
        </div>
    </div>
</footer>